@model DB_Project.Models.Account

@if(Model != null)
{ 
    <div class="card rounded px-5 py-2">
        <div class="card-body">
            <p><strong>Name : </strong>@Model.Username </p>
            <p><strong>Email : </strong>@Model.Email </p>
            <p><strong>Gender : </strong>@Model.Gender </p>
            <p><strong>Address : </strong>@Model.Address</p>
            <p><strong>Contact : </strong>@Model.ContactNo</p>
            <p><strong>DateJoined : </strong>@Model.DateJoined</p>
            <p><strong>Account Status : </strong>@Model.AccStatus</p>
        </div>
    </div>
}
