@{
    ViewBag.Title = "BookDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model KeyValuePair<DB_Project.Models.Book, List<DB_Project.Models.Review>>

@section CustomHeader{
    <nav id="mynavbar" class="navbar navbar-expand-sm bg-light">

        <a class="navbar-brand" href="#">BookStore</a>
        <ul class="navbar-nav ml-auto">
            @if (Session["UserName"] != null)
            {
                <p class="navbar-text"> Welcome, @Session["UserName"].ToString() </p>
            }
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")"> Logout </a>
            </li>
        </ul>
    </nav>
}

@*This block is displaying book along with the information and cover*@
<div class="container body-content">
    <h3 class="divheading text-center">Book Details</h3>
    <hr class="hunderline" />

    <div class="card rounded px-5 py-2">
        <div class="card-body">
            <img class="float-right" src="https://read.macmillan.com/wp-content/uploads/2016/04/book-cover-placeholder-188x300.png">

            <h3>
                @Model.Key.Title

                @*loop 5 times to print 5 star ratings*@
                @for (int i = 0; i < 5; i++)
                {
                    if (i < Model.Key.AverageRating)
                    {
                        <span class="justify-content-center"><i class="text-warning fa fa-star"></i></span>
                    }
                    else
                    {
                        <span class="justify-content-center"><i class="text-warning fa fa-star-o"></i></span>
                    }
                }

            </h3>
            <p>
                By @if (Model.Key.Authors != null)
                {
                    for (int i = 0; i < Model.Key.Authors.Count - 1; i++)
                    {
                        @Model.Key.Authors[i].Insert(Model.Key.Authors[i].Length, ", ")
                    }
                    @Model.Key.Authors[Model.Key.Authors.Count - 1]
                }
            </p>
            <p><strong>Publisher: </strong>@Model.Key.Publisher</p>
            <p>
                <strong>Genres: </strong>
                @if (Model.Key.Genres != null)
                {
                    for (int i = 0; i < Model.Key.Genres.Count - 1; i++)
                    {
                        @Model.Key.Genres[i].Insert(Model.Key.Genres[i].Length, ", ")
                    }
                    @Model.Key.Genres[Model.Key.Genres.Count - 1]
                }
            </p>
            <p><strong>Synopsis </strong>@Model.Key.Synopsis</p>
            @if (Model.Key.Discount == 0)
            {
                <p class="align-text-bottom"><strong>Price: </strong>Rs.@Model.Key.Price</p>
            }
            else
            {
                <p class="align-text-bottom"><strong>Price: </strong><strike>Rs.@Model.Key.Price</strike></p>
                <p class="align-text-bottom">
                    <strong>New Price: </strong>Rs.@((int)(Model.Key.Price * (1 - Model.Key.Discount))) <strong>@(Model.Key.Discount * 100)% Off</strong>
                </p>
            }
            <button type="button" class="btn btn-success" onclick="location.href='../../Admin/BookSubscriptions?id=@Model.Key.BookID'"> Show All Subscribers </button>
        </div>
    </div>
</div>

@if (Model.Value != null)
{
    <div class="container">
        <h3 class="divheading text-center">Book Reviews</h3>
        <hr class="hunderline" />
        @*Looping over all book's reviews to display them*@
        @foreach (DB_Project.Models.Review rew in Model.Value)
        {
            if (rew != null)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="http://mindandculture.org/wordpress6/wp-content/uploads/2018/07/Fotolia_188161178_XS.jpg" class="img-rounded img-fluid" />
                                <p class="text-secondary text-center">Posted on @rew.DatePosted</p>
                            </div>
                            <div class="col-md-10">
                                <p>
                                    <strong>@rew.UserName</strong>

                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (i < 5 - rew.Rating)
                                        {
                                            <span class="float-right"><i class="text-warning fa fa-star-o"></i></span>
                                        }
                                        else
                                        {
                                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        }
                                    }

                                </p>
                                <div class="clearfix"></div>
                                <p>@rew.Description</p>
                            </div>

                        </div>
                    </div>

                </div>
            }
        }
    </div>
}

