
@{
    ViewBag.Title = "Books";
}

@model List<DB_Project.Models.Book>


@section CustomHeader{
    <nav id="mynavbar" class="navbar navbar-expand-sm bg-light">

        <a class="navbar-brand" href="#">BookStore</a>
        <ul class="navbar-nav ml-auto">
            @if (Session["UserName"] != null)
            {
                <p class="navbar-text"> Welcome, @Session["UserName"].ToString() </p>
            }
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")"> Logout </a>
            </li>
        </ul>
    </nav>
}


<div class="row">
    <div class="col-2">
        <div class="sidenav">
            <a href="@Url.Action("Console", "Admin")">Console</a>
            <a href="@Url.Action("Books", "Admin")">Books</a>
            <a href="@Url.Action("Order", "Admin")">Orders</a>
            <a href="@Url.Action("Requests", "Admin")">Requests</a>
            <a href="@Url.Action("Users", "Admin")">Users</a>
            <a href="@Url.Action("ProfileInfo", "Admin")">Profile</a>
        </div>
    </div>

    <div class="container body-content">

        <h3 class="divheading text-center">Books</h3>
        <hr class="hunderline" />

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#AddBookModal">Add New Book</button>

        @if (Model != null)
        {
            <table id="example" class="table table-striped table-bordered table-hover" cellspacing="0">
                <tr>
                    <th>Title</th>
                    <th>Synopsis</th>
                    <th>Publisher</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Discount %</th>
                    <th>SubStatus</th>
                    <th>Authors</th>
                    <th>Genres</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td><a href=" ../../Admin/BookDetails?id=@item.BookID">@item.Title</a></td>
                    <td>@item.Synopsis</td>
                    <td>@item.Publisher</td>
                    <td>@item.Category</td>
                    <td>@item.Price</td>
                    <td>@item.Stock</td>
                    <td>@(item.Discount * 100)</td>
                    <td>@item.SubStatus</td>
                    <td>
                        @if (item.Authors != null)
                        {
                            for (int i = 0; i < item.Authors.Count - 1; i++)
                            {
                                @item.Authors[i].Insert(item.Authors[i].Length, ", ")
                            }
                            @item.Authors[item.Authors.Count - 1]
                        }
                    </td>
                    <td>
                        @if (item.Genres != null)
                        {
                            for (int i = 0; i < item.Genres.Count - 1; i++)
                            {
                                @item.Genres[i].Insert(item.Genres[i].Length, ", ")
                            }
                            @item.Genres[item.Genres.Count - 1]
                        }
                    </td>
                    <td><a href="#" class="btn btn-success" onclick="EditBookfunction(@item.BookID)"><i class="fa fa-pencil-square-o"></i> </a> </td>
                    <td><a href=" ../../Admin/RemoveBook?id=@item.BookID" class="btn btn-danger"><i class="fa fa-trash"></i> </a> </td>
                </tr>
                }
            </table>
        }


        <div class="modal fade" id="AddBookModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title divheading col-12 text-center">Add Book</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="addBookModalBodyDiv1">
                        <div class="card rounded px-5 py-2">
                            <div class="card-body">
                                <form action="AddBook" class="form needs-validation" role="form" autocomplete="off" id="Add_CreateBook" method="post">

                                    <div class="form-group">
                                        <label for="C_Title">Title</label>
                                        <input type="text" class="form-control" placeholder="Enter Title of Book" id="C_Title" name="Title" required>
                                        <div class="invalid-feedback">Please enter valid input</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="C_Synopsis">Description</label>
                                        <input type="text" class="form-control" placeholder="Enter Description of Book" id="C_Synopsis" name="Synopsis" required>
                                        <div class="invalid-feedback">Please enter valid input</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="C_Publisher">Publisher Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Publisher of Book" id="C_Publisher" name="Publisher" required>
                                        <div class="invalid-feedback">Please enter valid input</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="C_Category">Category Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Category of Book" id="C_Category" name="Category" required>
                                        <div class="invalid-feedback">Please enter valid input</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="C_Price">Price</label>
                                        <input type="text" class="form-control" placeholder="Enter Price of Book" id="C_Price" name="Price" required>
                                        <div class="invalid-feedback">Please enter valid input</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="C_Stock">Stock</label>
                                        <input type="text" class="form-control" placeholder="Enter Stock Value" id="C_Stock" name="Stock" required>
                                        <div class="invalid-feedback">Please enter valid input</div>
                                    </div>

                                    <div>
                                        <label for="SubStatus">Subscription</label>
                                        <input type="radio" name="SubStatus" value="True">Allow
                                        <input type="radio" name="SubStatus" value="False">Not Allowed
                                        <div class="invalid-feedback">Select Option</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="C_Authors">Authors</label>
                                        <input type="text" class="form-control" placeholder="Enter Authors of Book in comma seperated string" id="C_Authors" name="Authors" required>
                                        <div class="invalid-feedback">Please enter valid email</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="C_Genres">Genres</label>
                                        <input type="text" class="form-control" placeholder="Enter Genres of Book" id="C_Genres" name="Genres" required>
                                        <div class="invalid-feedback">Please enter valid email</div>
                                    </div>

                                    <div>
                                        <button type="submit" class="btn btn-success btn-block">Add Book</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editBookModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title divheading col-12 text-center">Edit Book</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="editBookModalBodyDiv1">
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>

<script language="javascript" type="text/javascript">
    window.onload = function () {

        $('#example').DataTable();
        $('.dataTables_length').addClass('bs-select');
        alert("hi");


    };

</script>

<script>
    var EditBookfunction = function (bid) {

        var url = "/Admin/EditBook?id=" + bid;

        $("#editBookModalBodyDiv1").load(url, function () {
            $("#editBookModal").modal("show");

        })
    }
</script>
