
@{
    ViewBag.Title = "Console";
}



@section CustomHeader{
    <nav id="mynavbar" class="navbar navbar-expand-sm bg-light">

        <a class="navbar-brand" href="#">BookStore</a>
        <ul class="navbar-nav ml-auto">
            @if (Session["UserName"] != null)
            {
                <p class="navbar-text"> Welcome, @Session["UserName"].ToString() </p>
            }
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")"> Logout </a>
            </li>
        </ul>
    </nav>
}


<div class="row">
    <div class="col-2">
        <div class="sidenav">
            <a href="@Url.Action("Console", "Admin")">Console</a>
            <a href="@Url.Action("Books", "Admin")">Books</a>
            <a href="@Url.Action("Order", "Admin")">Orders</a>
            <a href="@Url.Action("Users", "Admin")">Users</a>
            <a href="@Url.Action("ProfileInfo", "Admin")">Profile</a>
        </div>
    </div>

    <div class="container body-content">

        <h3 class="divheading text-center">New Orders</h3>
        <hr class="hunderline" />

        <h3 class="divheading text-center">New Requests</h3>
        <hr class="hunderline" />

    </div>
</div>
