
@{
    ViewBag.Title = "BookDetails";
}

@model KeyValuePair<DB_Project.Models.Book, List<DB_Project.Models.Review>>

@section CustomHeader{
    <nav id="mynavbar" class="navbar navbar-expand-sm bg-light">

        <a class="navbar-brand" href="#">BookStore</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Cart", "User")"> (Cart Icon) </a>
            </li>
            @if (Session["UserName"] != null)
            {
                <p class="navbar-text"> Welcome, @Session["UserName"].ToString() </p>
            }
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")"> Logout </a>
            </li>
        </ul>
    </nav>
}

@*This block is displaying book along with the information and cover*@
    <div class="container body-content">
        <h3 class="divheading text-center">Book Details</h3>
        <hr class="hunderline" />
        <div class="card rounded px-5 py-2">
            <div class="card-body">
                <img class="float-right" src="https://media.wiley.com/product_data/coverImage300/33/11180633/1118063333.jpg">

                <h3>
                    @Model.Key.Title
                    @if (Model.Key.AverageRating >= 0 && Model.Key.AverageRating <= 5)
                    {
                        //loop 5 times to print 5 star ratings
                        for (int i = 0; i < 5; i++)
                        {
                            if (i < Model.Key.AverageRating)
                            {
                                <span class="justify-content-center"><i class="text-warning fa fa-star"></i></span>
                            }
                            else
                            {
                                <span class="justify-content-center"><i class="text-warning fa fa-star-o"></i></span>
                            }
                        }
                    }

                </h3>
                <p>
                    By @if (Model.Key.Authors != null)
                    {
                        for (int i = 0; i < Model.Key.Authors.Count - 1; i++)
                        {
                            @Model.Key.Authors[i].Insert(Model.Key.Authors[i].Length, ", ")
                        }
                        @Model.Key.Authors[Model.Key.Authors.Count - 1]
                    }
                </p>
                <p><strong>Publisher: </strong>@Model.Key.Publisher</p>
                <p>
                    <strong>Genres: </strong>
                    @if (Model.Key.Genres != null)
                    {
                        for (int i = 0; i < Model.Key.Genres.Count - 1; i++)
                        {
                            @Model.Key.Genres[i].Insert(Model.Key.Genres[i].Length, ", ")
                        }
                        @Model.Key.Genres[Model.Key.Genres.Count - 1]
                    }
                </p>
                <p><strong>Synopsis </strong>@Model.Key.Synopsis</p>
                <p class="align-text-bottom"><strong>Price: </strong>@Model.Key.Price</p>
                @if (Model.Key.Stock > 0)
                {
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddItemModal"> + Add to Cart</button>
                }
                else
                {
                    <button class="btn btn-danger"> Out of Stock </button>
                }
                @if (Model.Key.SubStatus == true)
                {
                    <button type="button" class="btn btn-success" onclick="location.href='../../User/Subscribe?id=@Model.Key.BookID'"> Subscribe </button>
                }
            </div>


            @*To add item in card*@
            <div class="modal fade" id="AddItemModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Add Item</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body" id="AddItemModalBodyDiv1">
                            <div class="card rounded px-5 py-2">
                                <div class="card-body">
                                    <form action="AddToCart" class="form needs-validation" role="form" autocomplete="off" method="post">

                                        <input type="hidden" class="form-control" id="C_ID" name="ID" value="@Model.Key.BookID" required>
                                        <input type="hidden" class="form-control" id="C_Price" name="Price" value="@Model.Key.Price" required>

                                        <div class="form-group">
                                            <label for="C_Quantity">Quantity</label>
                                            <input type="number" class="form-control" id="C_Quantity" name="Quantity" min="1" max="@Model.Key.Stock" value="1" required>
                                            <div class="invalid-feedback">Please enter valid input</div>
                                        </div>

                                        <div>
                                            <button type="submit" class="btn btn-success float-right">Add Book</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


@*This block displays all book reviews, with current user review on top, if user hasnt added a review, add review option is shown*@
<div class="container">

    @if (Model.Value[0] == null)
    {
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="http://mindandculture.org/wordpress6/wp-content/uploads/2018/07/Fotolia_188161178_XS.jpg" class="img-rounded img-fluid" />
                        <p class="text-secondary text-center">You</p>
                    </div>
                    <div class="col-md-10">
                        <form action="ReviewBook" class="form needs-validation" role="form" autocomplete="off" id="Add_Review" method="post">
                            <div class="form-group">
                                <input type="hidden" value="@Model.Key.BookID" name="BookID" />

                                <label for="Text">Review</label>
                                <input type="text" class="form-control" placeholder="Write your comment here..." id="Text" name="ReviewText" required>

                                <label for="rate">Rating 0-5 </label>
                                <input type="range" class="form-control" id="rate" name="Rating" min="0" max="5">
                                <div class="invalid-feedback">Please enter valid input</div>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-success float-right">Add Review</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.Value != null && Model.Value.Count > 1)
    {
        <h3 class="divheading text-center">Book Reviews</h3>
        <hr class="hunderline" />
        
        foreach (DB_Project.Models.Review rew in Model.Value)
        {
            if (rew != null)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="http://mindandculture.org/wordpress6/wp-content/uploads/2018/07/Fotolia_188161178_XS.jpg" class="img-rounded img-fluid" />
                                <p class="text-secondary text-center">Posted on @rew.DatePosted</p>
                            </div>
                            <div class="col-md-10">
                                <p>
                                    <a class="float-left" href="#"><strong>@rew.UserName</strong></a>
                                    @if (rew.Rating >= 0 && rew.Rating <= 5)
                                    {
                                        //loop 5 times to print 5 star ratings
                                        for (int i = 0; i < 5; i++)
                                        {
                                            if (i < 5 - rew.Rating)
                                            {
                                                <span class="float-right"><i class="text-warning fa fa-star-o"></i></span>
                                            }
                                            else
                                            {
                                                <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                            }
                                        }
                                    }

                                </p>
                                <div class="clearfix"></div>
                                <p>@rew.Description</p>
                                <p>
                                    <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                                    <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            }
        }
    }

    <div class="modal fade" id="addItemModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Book</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="addItemModalBodyDiv1">
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    var AddItemfunction = function (bid) {

        var url = "/User/AddItem?id=" + bid;

        $("#addItemModalBodyDiv1").load(url, function () {
            $("#addItemModal").modal("show");

        })
    }
</script>
