
@{
    ViewBag.Title = "Books";
}

@model List<DB_Project.Models.Book>

@section CustomHeader{
    <nav class="navbar navbar-expand-sm bg-light">

        <a class="navbar-brand" href="#">BookStore</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"> DashBoard </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            @if (Session["UserName"] != null)
            {
                <p class="navbar-text"> Welcome, @Session["UserName"].ToString() </p>
            }
            <li class="nav-item ml-auto">
                <a class="nav-link" href="@Url.Action("Index", "Home")"> Logout </a>
            </li>
        </ul>
    </nav>
}


<div class="row">
    <div class="col-2">
        <div class="sidenav">
            <a href="@Url.Action("DashBoard", "User")">DashBoard</a>
            <a href="@Url.Action("Books", "User")">Books</a>
            <a href="@Url.Action("Cart", "User")">Cart</a>
            <a href="@Url.Action("Requests", "User")">Requests</a>
            <a href="@Url.Action("History", "User")">History</a>
            <a href="@Url.Action("Subscriptions", "User")">Subscriptions</a>
            <a href="@Url.Action("ProfileInfo", "User")">Profile</a>
        </div>
    </div>



    <div class="container body-content">
        <h3 class="divheading text-center">Books</h3>
        <hr class="hunderline" />

        <div class="form-group">
            <input class="form-control" id="searchInput" type="text" placeholder="Search..">
        </div>

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#SearchByModal">Search Settings</button>

        <div class="modal fade" id="SearchByModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Search By</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="addBookModalBodyDiv1">
                        <div class="card rounded px-5 py-2">

                            <form action="SearchBy" class="form needs-validation" role="form" autocomplete="off" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Search Text.." name="searchString" required>
                                    <div class="invalid-feedback">Please enter valid input</div>
                                </div>

                                <div>
                                    <label for="searchBy">Search By</label>
                                    <input type="radio" name="searchBy" value="none" checked>None
                                    <input type="radio" name="searchBy" value="Genre">Genre
                                    <input type="radio" name="searchBy" value="Author">Author
                                    <input type="radio" name="searchBy" value="Category">Category
                                    <div class="invalid-feedback">Select Option</div>
                                </div>

                                <div>
                                    <button type="submit" class="btn btn-success float-right">Done</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="searchDIV" class="mt-3">
            @if (Model != null)
            {
                <div class="card-deck">
                    @foreach (var item in Model)
                    {
                        <div id="f1_container">
                            <div id="f1_card" class="shadow card">
                                <div class="front face">
                                    <div class="card-up">
                                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo7.jpg" alt="Book Image">
                                    </div>
                                    <div class="card-body text-center">
                                        <h4 class="font-weight-bold mb-3">@item.Title</h4>
                                    </div>
                                </div>
                                <div class="back face">
                                    <p>Category: @item.Category</p>
                                    <p>Publisher: @item.Publisher</p>
                                    <p>
                                        Authors:
                                        @if (item.Authors != null)
                                        {
                                            for (int i = 0; i < item.Authors.Count - 1; i++)
                                            {
                                                @item.Authors[i].Insert(item.Authors[i].Length, ", ")
                                            }
                                            @item.Authors[item.Authors.Count - 1]
                                        }
                                    </p>
                                    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("BookDetails", "User")?id=' + @item.BookID">Read More</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>


    </div>
</div>


<script>

    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchDIV .card").filter(function () {
                //$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                $(this).toggle($(this).find('h4').text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    

</script>


