
@{
    ViewBag.Title = "DashBoard";
}

@model Tuple<List<DB_Project.Models.Book>, List<DB_Project.Models.Book>>

@section CustomHeader{
    <nav class="navbar navbar-expand-sm bg-light">

        <a class="navbar-brand" href="#">BookStore</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"> DashBoard </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                @if (Session["UserName"] != null)
                {
                    <p class="navbar-text"> Welcome, @Session["UserName"].ToString() </p>
                }
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="@Url.Action("Index", "Home")"> Logout </a>
            </li>
        </ul>
    </nav>
}


<div class="row">
    <div class="col-2">
        <div class="sidenav">
            <a href="@Url.Action("DashBoard", "User")">DashBoard</a>
            <a href="@Url.Action("BooksList", "User")">Books</a>
            <a href="@Url.Action("Requests", "User")">Requests</a>
            <a href="@Url.Action("History", "User")">History</a>
            <a href="@Url.Action("ProfileInfo", "User")">Profile</a>
        </div>
    </div>


    <div class="container body-content">
        <h3 class="divheading text-center">Best Sellers</h3>
        <hr class="hunderline"/>

        @if (Model.Item1 != null)
        {
            <div class="card-deck">
                @foreach (var item in Model.Item1)
                {
                    <div id="f1_container">
                        <div id="f1_card" class="shadow card">
                            <div class="front face">
                                <div class="card-up">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo7.jpg" alt="Book Image">
                                </div>
                                <div class="card-body text-center">
                                    <h4 class="font-weight-bold mb-3">@item.Title</h4>
                                </div>
                            </div>
                            <div class="back face">
                                <p>Category: @item.Category</p>
                                <p>Publisher: @item.Publisher</p>
                                <p>
                                    Authors:
                                    @if (item.Authors != null)
                                    {
                                        for (int i = 0; i < item.Authors.Count - 1; i++)
                                        {
                                            @item.Authors[i].Insert(item.Authors[i].Length, ", ")
                                        }
                                        @item.Authors[item.Authors.Count - 1]
                                    }
                                </p>
                                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("BookDetails", "User")?id=' + @item.BookID">Read More</button>
                            </div>
                        </div>
                    </div>
                }
            </div>

        }

        @if (Model.Item2 != null)
        {
            <br />
            <h3 class="divheading text-center"> Reccomendations </h3>
            <hr class="hunderline"/>
            <div class="card-deck">
                @foreach (var item in Model.Item2)
                {
                    <div id="f1_container">
                        <div id="f1_card" class="shadow card">
                            <div class="front face">
                                <div class="card-up">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo7.jpg" alt="Book Image">
                                </div>
                                <div class="card-body text-center">
                                    <h4 class="font-weight-bold mb-3">@item.Title</h4>
                                </div>
                            </div>
                            <div class="back face">
                                <p>Category: @item.Category</p>
                                <p>Publisher: @item.Publisher</p>
                                <p>
                                    Authors:
                                    @if (item.Authors != null)
                                    {
                                        for (int i = 0; i < item.Authors.Count - 1; i++)
                                        {
                                            @item.Authors[i].Insert(item.Authors[i].Length, ", ")
                                        }
                                        @item.Authors[item.Authors.Count - 1]
                                    }
                                </p>
                                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("BookDetails", "User")?id=' + @item.BookID">Read More</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

