
@{
    ViewBag.Title = "History";
}

@model Tuple<List<DB_Project.Models.Order>, List<DB_Project.Models.Request>>

@section CustomHeader{
    <nav class="navbar navbar-expand-sm bg-light">

        <a class="navbar-brand" href="#">BookStore</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"> DashBoard </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Cart", "User")"> <i class="fa fa-shopping-cart" style="font-size:28px"></i> </a>
            </li>
            @if (Session["UserName"] != null)
            {
                <p class="navbar-text"> Welcome, @Session["UserName"].ToString() </p>
            }
            <li class="nav-item ml-auto">
                <a class="nav-link" href="@Url.Action("Index", "Home")"> Logout </a>
            </li>
        </ul>
    </nav>
}


<div class="row">
    <div class="col-2">
        <div class="sidenav">
            <a href="@Url.Action("DashBoard", "User")">DashBoard</a>
            <a href="@Url.Action("Books", "User")">Books</a>
            <a href="@Url.Action("Requests", "User")">Requests</a>
            <a href="@Url.Action("Orders", "User")">Orders</a>
            <a href="@Url.Action("History", "User")">History</a>
            <a href="@Url.Action("Subscriptions", "User")">Subscriptions</a>
            <a href="@Url.Action("ProfileInfo", "User")">Profile</a>
        </div>
    </div>


    <div class="container body-content">
        <h3 class="divheading text-center">Orders History</h3>
        <hr class="hunderline" />

        @if (Model != null)
        {
            if (Model.Item1 != null && Model.Item1.Count != 0)
            {
                <table class="table table-striped table-bordered table-hover" cellspacing="0">
                    <tr>
                        <th>OrderID</th>
                        <th>Date</th>
                        <th>OrderStatus</th>
                        <th>Details</th>
                    </tr>
                    @foreach (var item in Model.Item1)
                    {
                        <tr>
                            <td>@item.OrderID</td>
                            <td>@item.Date</td>
                            <td>@item.OrderStatus</td>
                            <td><a href="#" class="btn btn-success" onclick="OrderDetailsfunction(@item.OrderID)"><i class="fa fa-archive"></i> </a> </td>
                        </tr>
                    }
                </table>
            }

        }

        <h3 class="divheading text-center">Requests History</h3>
        <hr class="hunderline" />

        @if (Model != null)
        {
            if (Model.Item2 != null && Model.Item2.Count != 0)
            {
                <table class="table table-striped table-bordered table-hover" cellspacing="0">
                    <tr>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Delete</th>
                    </tr>
                    @foreach (var item in Model.Item2)
                    {
                        <tr>
                            <td>@item.Description</td>
                            <td>@item.Date</td>
                            <td>@item.RequestStatus</td>
                            <td><a href=" ../../User/RemoveRequest?id=@item.RequestID" class="btn btn-danger"><i class="fa fa-trash"></i> </a> </td>
                        </tr>

                    }
                </table>
            }
        }


        <div class="modal fade" id="OrderDetailsModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title divheading col-12 text-center">Order Details</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="showOrderModalBodyDiv1">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    var OrderDetailsfunction = function (oid) {

        var url = "/User/OrderDetails?id=" + oid;

        $("#showOrderModalBodyDiv1").load(url, function () {
            $("#OrderDetailsModal").modal("show");

        })
    }

</script>