
@{
    ViewBag.Title = "ProfileInfo";
}

@model DB_Project.Models.Account

@section CustomHeader{
    <nav class="navbar navbar-expand-sm bg-light">

        <a class="navbar-brand" href="#">BookStore</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"> DashBoard </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            @if (Session["UserName"] != null)
            {
                <p class="navbar-text"> Welcome, @Session["UserName"].ToString() </p>
            }
            <li class="nav-item ml-auto">
                <a class="nav-link" href="@Url.Action("Index", "Home")"> Logout </a>
            </li>
        </ul>
    </nav>
}


<div class="row">
    <div class="col-2">
        <div class="sidenav">
            <a href="@Url.Action("DashBoard", "User")">DashBoard</a>
            <a href="@Url.Action("Books", "User")">Books</a>
            <a href="@Url.Action("Requests", "User")">Requests</a>
            <a href="@Url.Action("History", "User")">History</a>
            <a href="@Url.Action("ProfileInfo", "User")">Profile</a>
        </div>
    </div>


    <div class="container body-content">
        <h3 class="divheading text-center">Account Info</h3>
        <hr class="hunderline" />

        <p>Email : @Model.Email <p>
            <button type="button" class="btn btn-info" onclick="PasswordChangefunction(@Model.UserID)">Change Password</button>


            <h3 class="divheading text-center">Personal Info</h3>
            <hr class="hunderline" />

        <p>Name : @Model.Username </p>
        <p>Email : @Model.Email </p>
        <p>Gender : @Model.Gender </p>
        <p>Address : @Model.Address</p>
        <p>Contact : @Model.ContactNo</p>
        <p>DateJoined : @Model.DateJoined</p>
        <p>Account Status : @Model.AccStatus</p>


        <div class="modal fade" id="changePasswordModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Edit Book</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="changePasswordModalBodyDiv1">
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


<script>
    var PasswordChangefunction = function (bid) {

        var url = "/Admin/PasswordChange?id=" + bid;

        $("#changePasswordModalBodyDiv1").load(url, function () {
            $("#changePasswordModal").modal("show");

        })
    }
</script>
